apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: personalcook
  labels:
    app.kubernetes.io/name: user_service
    app.kubernetes.io/instance: user-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: user_service
      app.kubernetes.io/instance: user-service
  template:
    metadata:
      labels:
        app.kubernetes.io/name: user_service
        app.kubernetes.io/instance: user-service
    spec:
      containers:
        - name: user-service
          image: piasotlar/user_service:v2
          imagePullPolicy: IfNotPresent
          ports:
            - name: http
              containerPort: 8000
              protocol: TCP
          env:
            - name: DATABASE_URL
              valueFrom:
                secretKeyRef:
                  name: user-service-db     
                  key: DATABASE_URL

            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: app-secrets
                  key: jwt-secret

            - name: JWT_ALGORITHM
              value: HS256

          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 20
            periodSeconds: 10

          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 10